---
import Background from "~/components/Background.astro";
import Audio from "~/components/Audio.astro";
import Layout from "~/layouts/Layout.astro";
import Skills from "~/components/Skills.astro";
import About from "~/components/About.astro";
import Contact from "~/components/Contact.astro";
import Discord from "~/components/Discord.astro";

import "~/styles/globals.css";
import "~/styles/portfolio.css";
---

<Layout>
  <div class="portfolio-container">
    <div class="portfolio-columns">
      <div class="portfolio-col">
        <About />
        <Discord />
      </div>
      <div class="portfolio-col">
        <Skills />
        <Contact />
      </div>
    </div>
  </div>
  <Background />
  <Audio />
</Layout>
