---
import About from "~/components/About.astro";
import Audio from "~/components/Audio.astro";
import Background from "~/components/Background.astro";
import Contact from "~/components/Contact.astro";
import Discord from "~/components/Discord.astro";
import Skills from "~/components/Skills.astro";
import Layout from "~/layouts/Layout.astro";
import Theme from "~/components/Theme.astro";

import "~/styles/portfolio.css";
---

<Layout>
  <Theme />
  <div class="portfolio-container">
    <div class="portfolio-columns">
      <div class="portfolio-col">
        <About />
        <Discord />
      </div>
      <div class="portfolio-col">
        <Skills />
        <Contact />
      </div>
    </div>
  </div>
  <Background />
  <Audio />
</Layout>

<script>
  import { showAnalyticsToast } from "~/components/analytics/analyitcs";
  import { drawAscii } from "~/lib/utils";

  window.addEventListener("load", () => {
    drawAscii();

    setTimeout(() => {
      showAnalyticsToast();
    }, 2000);
  });
</script>
