---
import { config } from "~/config/config";

import "~/styles/background.css";
---

<div class="loading-spinner" id="loading-spinner">
  <div class="spinner"></div>
</div>

<div class="background" id="background">
  <video
    src={config.background.video}
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    id="background-video"></video>
</div>

<script>
  import { showToast } from "~/components/ui/toast";
  import { config } from "~/config/config";

  import mobile from "is-mobile";

  const isMobile = mobile();
  const spinner = document.getElementById("loading-spinner");
  const background = document.getElementById("background");
  const video = document.getElementById("background-video") as HTMLVideoElement;

  if (isMobile && video) {
    video.src = config.background.mobile;
  }

  setTimeout(() => {
    if (spinner && spinner.style.display !== "none") {
      spinner.style.display = "none";

      if (background) {
        background.style.opacity = "0.6";
      }

      if (!isMobile) {
        showToast({
          title: "Loaded",
          icon: "/svgs/check.svg",
          variant: "glass",
          duration: config.toast.duration,
        });
      }

      window.dispatchEvent(new CustomEvent("backgroundLoaded"));
    }
  }, 100);
</script>
