---
import "~/styles/contact.css";
---

<div class="glass-card contact-card">
  <h3 class="card-title">Contact</h3>
  <a href="mailto:daunte@ghoul.cloud" class="contact-link">
    <span class="contact-icon">
      <img src="/icons/mail.svg" alt="Mail Icon" width="20" height="20" />
      </span>
    <span class="contact-text">contact@ghoul.cloud</span>
  </a>
</div>
