---
import { Toaster } from "~/components/ui/toast";

import "~/styles/global.css";
import "~/styles/layout.css";

const rybbitSiteId = import.meta.env.RYBBIT_SITE_ID;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>🐳 Home</title>

    {isProd && (
      <script
        src="https://analytics.ghoul.cloud/api/script.js"
        data-site-id={rybbitSiteId}
        async
        defer
      ></script>
    )}
  </head>
  <body>
    <slot />
    <Toaster client:load />
  </body>
</html>
