---
import { Toaster } from "~/components/ui/toast";
import { config } from "~/config/config";

import "~/styles/global.css";
import "~/styles/layout.css";

const rybbitSiteId = import.meta.env.RYBBIT_SITE_ID;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.title}</title>

    {
      isProd && (
        <script
          src={config.analytics.script}
          data-site-id={rybbitSiteId}
          async
          defer
        />
      )
    }
  </head>
  <body>
    <slot />
    <Toaster client:load />
  </body>
</html>
