---
import { getAnalytics } from "~/components/analytics/analyitcs";
import Rybbit from "~/components/analytics/Rybbit.astro";
import Audio from "~/components/Audio.astro";
import { Toaster } from "~/components/ui/toast";
import { config } from "~/config/config";

import "~/styles/global.css";
import "~/styles/layout.css";

const isProd = import.meta.env.PROD;
const hasAnalytics = isProd ? await getAnalytics() : false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/jpeg" href="/favicon.jpeg" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.title}</title>

    {hasAnalytics && <Rybbit />}
  </head>
  <body>
    <slot />
    <Audio />
    <Toaster client:load />
  </body>
</html>
